@media screen and (max-height:560px){
  header .wrap ul.gnb.moveShow{
    flex-direction: initial;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: normal;
    padding: 100px 0;
  }
  header .wrap ul.gnb.moveShow li{
    width: 50%;
  }
  header .wrap ul.gnb li ul.sub li{
    width: 100%;
  }
}
@media screen and (max-width:768px){
/* --> common   */
  .h2 {
    font-size: calc(42px * 0.7);
  }
  .padding-b60 {
    padding-bottom: calc(60px * 0.7);
  }
  .padding-t60 {
    padding-top: calc(60px * 0.7);
  }
  body{
    padding: initial;
  }
  /* header */

  header{
    width: 100%;
    height: auto;
    background-color: transparent;
  }
  header .wrap{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: initial;
  }
  header .wrap::before{
    display: none;
  }
  header .wrap h1{
    font-size: 23px;
    z-index: 11;
    font-weight: 900;
    margin-left: initial;
    z-index: 11;
    font-weight: 900;
  }
  header .wrap ul.gnb{
  left: 300px;
  width: 100%;
  left: -100%;  
  }
  header .wrap ul.gnb.moveShow{
  z-index: 10;
  left: 0;
  padding-left: 20px;
  box-sizing: border-box;
  min-height: 560px;
  }
  header .wrap ul.gnb{
    left: 300px;
    width: 100%;
    left: -100%;
  }
  header .wrap a.allmenu{

    left: auto;
    right: 40px;
    z-index: 10;
    top: 20px;
  }
  header .wrap a.allmenu.x span{
    opacity: 0;
  }
  header .wrap::after{
    
  height: 70px;
  }
  /*  title  */
  #title .wrap{
    padding: initiall
  }
  #title .wrap .tMenu{
    display: none;
  }
  #title .tMenu + a{
    top: 50px;
    right: -100px;
    font-size: 25px;
  }
  #title ul.slide{
    justify-content: center;
  }
  #title ul.slide li::before{
    background-position: center;
  }
  #title ul.slide li h2{
    
  }
  #title ul.slide li p{
    left: 10%;
    width: auto;
    padding: 0 20px;
    font-size: 6.510416666666667vw;
  }
  #showimage{
  width: 300px;
  left: calc(50% - 150px);
  }
  
/*  소개  */
  #introduction{
    padding-top: 30px;
  }
  #introduction .wrap{
    
  flex-direction: column-reverse;
  padding: 5%;
  }
  #introduction .wrap::before{
  width: 100%;
  margin: 0;
  }
  #introduction .right{
    
  width: auto;
  padding: initial;
  }
  #introduction .right::after{
    
  padding-left: 34px;
  box-sizing: border-box;
  background-origin: content-box;
  }
  #introduction .right a.more{
  }
/*  뉴스  */
  #news .wrap{
    flex-direction: column;
    align-items: center;
  }
  #news .wrap article{
    width: 90%;
  }
  #news .wrap article hgroup h3{
    background-size: cover;
    background-position: center;
  }
  #news .wrap article hgroup h4{
    height: 
  15.625vw; 
  }
  #news .wrap article a.more{
  left: calc(50% - 50px);
  }
/*  브랜드  */
  #brand .wrap ul li{
    width: 100%;
    height: 200px;
  }
/*  ㅂ브블브래랜ㄷ드등드오옾오피핏피스  */
  #brandoffice .wrap{
    width: 100%;
    box-sizing: border-box;
  }
  #brandoffice ul.brandOfficeSlide li{
    
  transform: initial;
  padding: 0 10px;
  }
/*  footer  */
  footer .wrap{
    
  flex-direction: column;
  align-items: center;
  }
  footer address{
    width: auto;
    padding: 0px 20px;
    box-sizing: border-box;
    margin-top: 30px;
  }
  footer ul.fnb{
    
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
  box-sizing: border-box;
  margin-top: 30px;
  }
} 
  
  
/* 태블릿 ------------------------------------------------*/
@media screen and (max-width:1024px){


}