@media screen and (max-height:560px){

}
@media screen and (max-width:768px){
/* common */
  .h1{
    font-size: calc(50px * 0.6);
  }
  .h2{
    font-size: calc(40px * 0.6);

  }
  .h3{
    font-size: calc(33px * 0.6);
  }
  .h4{
    font-size: calc(27px * 0.6);
  }
  .h5{
    font-size: calc(20px * 0.6);
  }
  .h6{
    font-size: calc(17px * 0.6);
  }
  .p{
    font-size: calc(16px * 0.6);
  }
  .wrap{
    padding: 20px !important;
  }
/* header */
  #header{
  padding: 10px !important;
  }
  #header .wrap{
    padding: initial !important;
  }
  #header .inner_gnb{
    display: none;
  }
  #header h1 a{
    width: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height:50px;
  }
  #header .main_header{
    padding: initial;
    justify-content: space-between;
  }
  #header .gnb > li{
    display: none;
  }
  #header .more{
    width: 20px;
    height: 13px;
    display: inline-block;
    border: 2px solid;
    border-left: transparent;
    border-right: transparent;
  }
  #header a.more::after{
    content: "";
    width: 15px;
    height: 2px;
    display: block;
    position: relative;
    top: calc(100% / 2 - 1px);
    background-color: #000;
  }
/*  title  */
  #title .wrap{
    padding: initial !important;
  }
  .titleslide img{
  }
  #title button.slick-arrow{
    display: none !important;
  }
  #title .slick-dots li button::before{
    font-size: 10px;
  }
  #title .wrap .info{
    padding: 0 20px;
  }
  #title .wrap .info h2{
    width: initial;
  }
/*  notice  */
  #notice .wrap .board ul li{
   font-size: calc(20px * 0.6);
  }
  #notice .wrap .board ul > a{
    display: none;
  }
  #notice .wrap .board > ul > li > a{
    width: 50px;
  }
  #notice iframe{
    width: 300px;
  }
  #notice .wrap .edu{
  }
  #notice .wrap .edu a{
    width: 280px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #notice .online_museum iframe{
    width: 100% !important;
  }
/* footer */
  footer .wrap{
    flex-direction: column;
  }
  footer .fnb{
    flex-direction: column;
    align-items: center;
  }
  .fnb > li{
    width: 100%;
    text-align: center;
  }
 footer .fnb> li >ul{
  display: none;
  }
  .fnb > li > a{
    line-height: initial !important;
  }
  .footer_1{
    font-weight: initial;
  }
  .footer_2 > li > a{
  }
  .footer_2{
    margin: 50px 0;
  }
  .footer_3{
    text-align: center;
    display: flex;
  }
  .footer_3 li{
    margin: 0 5px;
  }
  .footer_3 li:nth-child(4),
  .footer_3 li:nth-child(5),
  .footer_3 li:nth-child(6),
  .footer_3 li:nth-child(7){
    display: none;
  }
  .footer_4 address{
    margin: initial;
  }
  .footer_4 a{
    margin: 10px 0;
  }
}
/* 태블릿 ------------------------------------------------*/
@media screen and (max-width:1099px){
/* common */
.h1{
  font-size: calc(50px * 0.7);
  }
.h2{
  font-size: calc(40px * 0.7);

}
.h3{
  font-size: calc(33px * 0.7);
}
.h4{
  font-size: calc(27px * 0.7);
}
.h5{
  font-size: calc(20px * 0.7);
}
.h6{
  font-size: 17px;
}
.p{
  font-size: calc(16px * 0.7);
}
.wrap{
  padding: 30px;
}
/* header */
  #header{
    padding: 30px;
  }
  #header .inner_gnb{
    width: 90%;
  }
  header h1 a{
    width: 60px;
  }
  header .main_header{
    justify-content: space-around;
  }
  #header .gnb > li{
    font-size: calc(20px * 0.8);
  }
  #header .gnb li > ul li a{
    font-size: calc(9px * 0.8);

  }
  header ul.enb{
    flex-direction: column;
    display:none;
  }
  #header .inner_gnb > li:nth-child(6){
    display: none;
  }
/*  title  */
  #title .wrap{
    padding: 30px;
  }
  #title .wrap .info{
    justify-content: center;
  }
  #title .wrap .info a{
    font-size: calc(25px * 0.7);
    margin: 30px 10px;
    height: 80px;
  }
  #title .wrap .info a:hover{
    height: 100px;
  }
  #title .wrap .info .schedule{
  width: 100%;
  flex-direction: column;
  align-items: start;
  padding-bottom: 30px;
  }
/* exgibits */
  #exhibits .slick-dots{
    display: none;
  }
/* notice */
  #notice .wrap{
  justify-content: space-around;
  }
  #notice .wrap .board{
    width: 100%;
    height: 400px;
  }
  #notice .wrap .slide{
    width: 100%;
    margin-bottom: 50px;
  }
  #notice .wrap .slide img{
    width: 100%;
  }
  #notice .event button.slick-arrow.slick-prev{
    top: -20px;
  }
  #notice .event button.slick-arrow.slick-next{
    top: -20px;
  }
/*  footer  */
  footer .wrap{
    justify-content: space-around;
    align-items: center;
  }
  .fnb > li > a{
   font-size: calc(20px * 0.7);
  }
  .fnb ul > li > a{
    font-size: calc(15px * 0.7);
  }
  .footer_4{
    width: 100%;
    /*! display: flex; */
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
  }
}